* {
    margin: 0;
}

.body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    display: flex;
    overflow: hidden;
}

.container-left {
    background-image: url(/background-img.jpg);
    background-size: cover;
    width: 60%;
    height: 100vh;
    overflow: hidden;
}

.logo {
    color: rgb(255, 255, 255);
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    margin: 2rem;
}

.line {
    width: 7rem;
    height: 0px;
    border: 1px solid rgb(255, 255, 255);
}

.description {
    font-size: 1.5rem;
    color: white;
    width: 90vh;
    padding: 1rem 10vh;
    margin-top: 15vh;
}

.line-p {
    width: 15rem;
    height: 0px;
    border: 1px solid #ffffff;
    margin: 0 10vh;
}

.cover-img {
    margin-top: 10vh;
    margin-left: 5vh;
}

.container-right {
    /* background-color: blue; */
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: 40%;
    height: 100vh;
}

.signup-container {
    /* background-color: red; */
    width: 70%;
    height: 70%;
    margin: 17% auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description-signup {
    margin-bottom: 1rem;
}

.Auth {
    width: 99%;
    height: 2.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    align-content: center;
    align-items: center;
}

img {
    margin-right: .5rem;
}

button {
    width: 100%;
    height: 2.5rem;
    background-color: rgb(255, 255, 255);
    color: rgb(150, 150, 150);
    border: 1px solid rgb(174, 174, 174);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    border: 1px solid black;
    color: black;
}

.label {
    margin-right: auto;
    margin-bottom: .4rem;
}

input {
    width: 98%;
    height: 2rem;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 5px;
}

.input {
    width: 100%;
    margin-top: 1.5rem;
}

.forgot {
    color: red;
    margin-left: auto;
    font-size: .8rem;
    margin-bottom: 2rem;
}

.submit {
    color: white;
    background-color: rgb(68, 68, 248);
}

.submit:hover {
    background-color: rgb(21, 21, 35);
    color: white;
}

.create-account {
    font-size: .85rem;
    margin-top: 1rem;
}

a {
    color: rgb(68, 68, 248);
    text-decoration: none;
}

.home-title {
    text-align: center;
    margin: 2rem auto;
}

.user-section {
    text-align: end;
    margin-left: auto;
}

.home-btn {
    margin: 1rem 1rem 1rem auto;
    width: auto;
    color: white;
}

.user-details {
    font-size: 2rem;
    margin: 1rem;
}

.delete-btn {
    width: auto;
    background-color: black;
    color: white;
    margin: 1rem auto;
}